
@model ConfigsModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.Partial("Admin/AdminMenu", "Configs")

<h2>Delete Config</h2>
@Html.ActionLink("Admin", "Config")

<div>
    @using (Html.BeginForm())
    {
        <div>
            <div>@Html.LabelFor(m => m.SelectedConfig.Id) : @Html.TextBoxFor(m => m.SelectedConfig.Id)</div>
            <div>@Html.LabelFor(m => m.SelectedConfig.SettingName) : @Html.TextBoxFor(m => m.SelectedConfig.SettingName)</div>
            <div>@Html.LabelFor(m => m.SelectedConfig.SettingValue) : @Html.TextBoxFor(m => m.SelectedConfig.SettingValue)</div>
            <div>@Html.LabelFor(m => m.SelectedConfig.SettingType) : @Html.TextBoxFor(m => m.SelectedConfig.SettingType)</div>
            <div>@Html.LabelFor(m => m.SelectedConfig.IsActive) : @Html.TextBoxFor(m => m.SelectedConfig.IsActive)</div>
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
        @Html.ActionLink("Disable", "DisableConfig", "Admin", new { id = Model.SelectedConfig.Id }, new { @class = "btn btn-warning" })
        <input class="btn btn-danger" type="submit" value="Delete" formaction="DeleteConfig" />
    }

</div>