@using Main.Data.Core.Domain
@model System.Collections.Generic.List<Main.Data.Core.Domain.Config>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.Partial("Admin/AdminMenu", "ConfigsAdmin")

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            SettingName
        </th>
        <th>
            SettingValue
        </th>
        <th>
            SettingType
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
